*{
    margin: 0;
    padding: 0;
}
body{
    /* background-image:url('Images/home2.jpg'); */
    background-size:cover;
    background-repeat: no-repeat;
}
.container-fluid h5{
    color: azure;

}

.col{
    /* margin-left: 32%; */
    padding: auto;
}
.body2 p{
    margin-left: 2%;
}